H1 { font-family: arial, sans-serif, helvetica;
	color: #0000CC; 
	font-size: large;
}

H2 { font-family: arial, sans-serif, helvetica;
	color: #0000CC; 
	font-size: medium;
}

TD { font-family: Tahoma, arial, sans-serif, helvetica;
	color: #000000; 
	font-weight: bold;
	font-size: x-small;
}

P { font-family: Tahoma, arial, sans-serif, helvetica;
	color: #000000; 
	font-size: x-small;
}

SPAN { font-family: arial, sans-serif, helvetica;
	color: #000066; 
	font-size: small;
}
				  
SPAN.Standard { color: #000066; } 

TD.Head{ font-size: medium; }

TD.light{ font-weight: normal; }